$wide-mobile-width: 550px;
$tablet-width: 812px;
$desktop-width: 1024px;

$dark-blue: #162542;
$light-blue: #047bff;
$powder-blue: #5ebfff;
$banner-blue: #14294f;
$light-gray: #f9f9f9;
$border-gray: #e7e9ec;

$bottom-margin: 8px;
